<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Skrum</title>
  </head>
  <body>
	
 	<div th:replace="/cabecalho.html">...</div>
	
	<main class="container">
	
	    <div style="margin-top: 20px; margin-bottom: 30px">
	       	<h2 th:text="${sprint.objetivo}"> Objetivo da Sprint </h2>
	   	</div>
	   	
	   	<div class="alert alert-info" role="alert">
	   		<h3 class="h4 alert-heading">Estatísticas</h3>
	   		<p>
	   			<strong>Período:</strong> <span th:if="${sprint.dataInicial != null}" th:text="${#dates.format(sprint.dataInicial, 'dd/MM/yyyy')}">dd/MM/yyyy</span> <span th:if="${sprint.dataInicial == null}">??/??/????</span> a <span th:if="${sprint.dataFinal != null}" th:text="${#dates.format(sprint.dataFinal, 'dd/MM/yyyy')}">dd/MM/yyyy</span> <span th:if="${sprint.dataFinal == null}">??/??/????</span>
	   		</p>
			<p>
				<strong>Tempo Decorrido:</strong> <span th:text="${diasPassados}">#</span> de <span th:text="${diasTotal}">#</span> dias
				<div class="progress" style="height: 25px;">
					<div class="progress-bar progress-bar-striped"
						 role="progressbar"
						 th:style="${'width: ' + diasPassadosPorcentagem + '%'}">
						<span th:text="${diasPassadosPorcentagem + '%'}">#%</span>
					</div>
				</div>
			</p>
			<p>
				<strong>Tarefas Concluídas:</strong> <span th:text="${tarefasConcluidas}">#</span> de <span th:text="${tarefasTotal}">#</span> tarefas
				<div class="progress" style="height: 25px;">
					<div class="progress-bar progress-bar-striped"
						 role="progressbar"
						 th:style="${'width: ' + tarefasConcluidasPorcentagem + '%'}">
						<span th:text="${tarefasConcluidasPorcentagem + '%'}">#%</span>
					</div>
				</div>
			</p>
		</div>
	   	
	   	<div class="float-end d-inline-flex align-items-center">
	   		<fieldset class="d-inline-flex align-items-center px-1">
		   		<label for="projetos" class="control-label px-1">Projeto:</label>
		   		<select name="projetos" class="form-select" onChange="setProjeto(this.value)">
		   			<option value="0">Todos</option>
				    <option 
				    	th:each="projeto : ${projetos}"
				    	th:value="${projeto.codigo}"
				    	th:text="${projeto.titulo}" 
						th:selected="${projeto.codigo} == *{projetoSelecionado}">
					</option>
				</select>
	   		</fieldset>
	    </div>
	    
	    <table class="table table-striped table-hover">
		    <thead>
		        <tr>
		            <th> Código </th>
		            <th> Título </th>
		            <th> Descrição </th>
		            <th> Prioridade </th>
		            <th> Status </th>
		            <th> Projeto </th>
		            <th colspan="2"> Ações </th>
		        </tr>
		    </thead>
		    <tbody>
				<tr th:if="${tarefas.empty}">
		            <td colspan="8"> Ainda não existem tarefas associadas a esta sprint. </td>
		        </tr>
		        <tr th:each="tarefa : ${tarefas}">
		            <td><span th:text="${tarefa.codigo}"> Código </span></td>
		            <td><span th:text="${tarefa.titulo}"> Título </span></td>
		            <td><span th:text="${tarefa.descricao}"> Descrição </span></td>
		            <td><span th:text="${tarefa.prioridade.displayValue}"> Prioridade </span></td>
		            <td><span th:text="${tarefa.status.displayValue}"> Status </span></td>
		            <td><span th:text="${tarefa.projeto.titulo}"> Projeto </span></td>
		            <td>
		            	<a class="btn btn-success" th:href="@{tarefa/{id}(id=${tarefa.codigo})}"> Editar </a>
	            	</td>
		            <td>
		            	<form method="POST" th:action="@{/sprint/tarefa/{id}/excluir(id=${tarefa.codigo})}">
	            			<button type="submit" class="btn btn-danger"> Excluir </button>
	            		</form>
	            	</td>
		        </tr>
		    </tbody>
		</table>
	
	</main>
	
	<div th:replace="/rodape.html">...</div>
	
  </body>
</html>