<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Skrum</title>
  </head>
  <body>
  	
	<div th:replace="/cabecalho.html">...</div>
    
    <main class="container">
    
	    <div style="margin-top: 20px; margin-bottom: 30px">
	       	<h2>Sprint</h2>
	   	</div>
	    
	    <form th:action="@{/sprint}" th:object="${sprint}" method="POST">
			<fieldset>
				<label for="codigo" class="form-label">Código</label>
				<input type="text" readonly="readonly" th:field="*{codigo}" id="codigo" class="form-control" placeholder="0" />
			</fieldset>
			
			<fieldset>
				<label for="objetivo" class="form-label">Objetivo</label>
				<input type="text" th:field="*{objetivo}" id="objetivo" class="form-control" placeholder="Objetivo" />
			</fieldset>
			
			<fieldset>
				<label for="descricao" class="form-label">Descrição</label>
				<input type="text" th:field="*{descricao}" id="descricao" class="form-control" placeholder="Descrição" />
			</fieldset>
			
			<fieldset>
				<label for="dataInicial" class="form-label">Data Inicial</label>
				<input type="date" th:field="*{dataInicial}" id="dataInicial" class="form-control" />
			</fieldset>
			
			<fieldset>
				<label for="dataFinal" class="form-label">Data Final</label>
				<input type="date" th:field="*{dataFinal}" id="dataFinal" class="form-control" />
			</fieldset>
			
			<fieldset>
				<label for="projeto" class="form-label">Projeto</label>
				<select th:field="*{projeto}" id="projeto" class="form-select">
				    <option
				    	th:each="projeto : ${projetos}" 
				        th:value="${projeto.codigo}"
				        th:text="${projeto.titulo}"
				        th:selected="${projeto == sprint.projeto}">
			        </option>
				</select>
			</fieldset>
			
			<br/>
			
			<button type="submit" class="btn btn-primary">Salvar</button>
			<a class="btn btn-secondary" href="/sprint" role="button">Cancelar</a>
		</form>
	
	</main>
	
	<div th:replace="/rodape.html">...</div>
		
  </body>
</html>