<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Skrum</title>
  </head>
  <body>
	
 	<div th:replace="/cabecalho.html">...</div>
	
	<main class="container">
	
	    <div style="margin-top: 20px; margin-bottom: 30px">
	       	<h2>Minhas Sprints</h2>
	   	</div>
	   	
	   	<div class="float-end d-inline-flex align-items-center">
	   		<a class="btn btn-primary" href="/sprint/formulario" role="button">+ Nova Sprint</a>
	    </div>
	    
	    <table class="table table-striped table-hover">
		    <thead>
		        <tr>
		            <th> Código </th>
		            <th> Objetivo </th>
		            <th> Descrição </th>
		            <th> Data Inicial </th>
		            <th> Data Final </th>
		            <th colspan="3"> Ações </th>
		        </tr>
		    </thead>
		    <tbody>
				<tr th:if="${sprints.empty}">
		            <td colspan="8"> Ainda não existem sprints cadastradas. </td>
		        </tr>
		        <tr th:each="sprint : ${sprints}">
		            <td><span th:text="${sprint.codigo}"> Código </span></td>
		            <td><span th:text="${sprint.objetivo}"> Objetivo </span></td>
		            <td><span th:text="${sprint.descricao}"> Descrição </span></td>
		            <td><span th:text="${#dates.format(sprint.dataInicial, 'dd/MM/yyyy')}"> Data Inicial </span></td>
		            <td><span th:text="${#dates.format(sprint.dataFinal, 'dd/MM/yyyy')}"> Data Final </span></td>
		            <td>
		            	<a class="btn btn-success" th:href="@{/sprint/{id}(id=${sprint.codigo})}"> Editar </a>
	            	</td>
		            <td>
		            	<form method="POST" th:action="@{/sprint/{id}/excluir(id=${sprint.codigo})}">
	            			<button type="submit" class="btn btn-danger"> Excluir </button>
	            		</form>
	            	</td>
	            	<td>
		            	<a class="btn btn-secondary" th:href="@{/sprint/{id}/tarefas(id=${sprint.codigo})}"> Tarefas </a>
	            	</td>
		        </tr>
		    </tbody>
		</table>
	
	</main>
	
	<div th:replace="/rodape.html">...</div>
	
  </body>
</html>