<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 10px">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/usuario">Usuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projeto">Projetos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tarefa">Tarefas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sprint">Sprints</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Entrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cadastro">Cadastrar</a>
        </li>
      </ul>
      <div class="d-flex">
      	<ul class="navbar-nav me-auto mb-2 mb-lg-0">
	      	<li class="nav-item">
	          <a class="nav-link" href="/usuario/codigo">Meu Perfil</a>
	        </li>
	        <li class="nav-item">
          		<a class="nav-link" href="/logout">Sair</a>
        	</li>
      	</ul>
      </div>
    </div>
  </div>
</nav>