<footer style="margin-top: 20px;">
	<main class="container text-center border-top" style="padding-top: 10px;">
		<p>Desenvolvido por <a target="_blank" href="https://about.me/kanegae">Anderson Kanegae Soares Rocha</a>.</p>
	</main>
	
	<script sec:authorize="isAuthenticated()"src="/scripts.js"></script>
	
	<!-- Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</footer>